.user-login{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    text-align: center;
}

.user-login form {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.user-login  h1{
 display: flex;
 flex-direction: column;

}
.User-Login a{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
}

.user-login button{
    text-align: center;
    margin-top: 1em;
    width: 150px;
    height: 50px;
    align-self: center;
    border-radius: 50px;
    /* -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius:30px;
    -o-border-radius:30px; */

}

.user-login button:hover {
    color: aliceblue;
    background-color: black;
    outline: none;
}
.user-login input{
    width: 400px;
    height: 80px;
    margin:10px;
    text-align: center;
    border-radius: 50px;
    /* -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    font-size: large; */
}
.user-login img{
    float: left;
    height: 300px;
    width: 300px;
margin-left: 1em;
}
h4{
    font-size: 30px;
    /* margin-bottom: 7px; */
}
