.User-register{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-family:  monospace;
    margin-top: 100px;
}

.userRegister-form{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.userRegister-form input{
    margin: 2px;
    width: 500px;
    height: 30px;
    padding-left: 1em;
    border-radius: 30pxd;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.userRegister-form input:focus{
    outline: none;
    content: none;
}

.userRegister-form button{
    width: 90px;
    height: 30px;
    align-items: center;
    border-radius: 30px;
    margin-top: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    outline: none;
}

.userRegister-form button:hover{
    color: aliceblue;
    background-color: black;

}