.request {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

.request h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.blood-table {
  width: 100%;
  margin-bottom: 20px;
}

.blood-table th,
.blood-table td {
  padding: 10px;
  text-align: left;
}

.blood-table th {
  background-color: #f1ecec;
}

.request form {
  display: flex;
  flex-direction: column;
  background-color: rgb(174, 207, 226);
  padding: 20px;
}

.request select,
.request input[type="text"],
.request input[type="number"] {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  
}

.request button[type="submit"] {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.request button[type="submit"]:hover {
  background-color: #0056b3;
}