p{
    font-size: medium;
     
}

.user-dash  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("../image/logo.png");
    background-repeat: no-repeat;
    background-position:left center;
    background-size: contain;
    background-size: 20% auto;
  }
  
  .user-dash button {
    margin:1em;
    height:90px;
    width: 200px;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
  }
  
  .user-dash button:hover {
    background-color: rgb(30, 232, 12);
    color: rgb(255, 255, 255);
    outline: none;
  }